<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>This app needs to send you notifications about Beyoncé tour updates and concert alerts.</string>
	<key>CFBundleDisplayName</key>
	<string>Beyhive Alert</string>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexMono-Medium.ttf</string>
		<string>IBMPlexMono-Light.ttf</string>
		<string>IBMPlexMono-Bold.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
	</array>
</dict>
</plist>
